/*body{
	background: pink;
	
}*/
*{
	margin: 0;
	padding: 0;
}
#header{
	width: 960px;
	height: 120px;
	border:solid black 1px;
}
#header ul{
	width: 960px;
	height: 60px;

	
}
#header ul li{
	list-style: none;
	float: left;
	width:160px;
	height: 60px;
	
}
#header ul li a{
	list-style: none;
	float: left;
	width:160px;
	height: 60px;
	line-height: 60px;
	background: red;
	text-align: center;
}
#header ul li a:hover{
	list-style: none;
	float: left;
	width:160px;
	height: 60px;
	line-height: 60px;
	background: green;
	text-decoration: none;
	
}
#left{
	width: 200px;
	height: 600px;
	border: solid 1px black;
	float: left;
	
}
#right{
	width: 760px;
	height: 600px;
	border: solid 1px black;
	background: pink;
	float: left;
}
#bottom{
	width: 960px;
	height: 50px;
	border: solid 1px black;
	clear: both;  /*清除浮动*/
	line-height: 50px;
}
#bottom p{
	text-align:center  /*文本居中*/;
	font-size: 15px;

}
